/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.language {
	display: grid;
	margin: -5.5rem 2rem 3rem 2rem;
	width: 25%;
	text-align: center;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content button {
	border: none;
	background: none;
	padding: 0;
}

.content button:hover {
	animation-name: rubberBand;
	animation-duration: .8s;
	animation-fill-mode: both;
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.titleSmaller {
	line-height: 1.15;
	font-weight: bold;
	font-size: 1.5rem;
	font-family: Ubuntu, Inter;
}

.footerDistributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px;
	font-family: Ubuntu, Inter;
	text-align: left;
	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footerLeft {
	float: left;
}

/* The company logo */

.footerDistributed h3 {
	color: #ffffff;
	font: bold 36px Ubuntu;
	font-family: Ubuntu, Inter, "Segoe UI", cursive;
	margin: 0 0 10px;
	cursor: pointer;
}

.footerDistributed h3 span {
	color: #5383d3;
}

/* Footer links */

.footerLinks {
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	font-family: Ubuntu, Inter;
}

.footerLinks a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footerCompanyName {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footerIcons {
	margin-top: 2rem;
	margin-bottom: .5rem;
	justify-content: space-between;
}

.footerIcons span {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.discord:hover {
	color: #5865F2;
}

.whatsapp:hover {
	color: #2BB741;
}

/* Footer Right */

.footerRight {
	float: right;
	font-family: Ubuntu, Inter;
}

.footerRight p {
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footerDistributed form {
	display: inline-block;
	margin-bottom: 2rem;
}

.footerDistributed form input, .footerDistributed form textarea {
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font-family: Ubuntu, Inter, inherit;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	width: 400px;
	padding: 18px;
}

.footerDistributed ::-webkit-input-placeholder {
	color: #5c666b;
}

.footerDistributed ::-moz-placeholder {
	color: #5c666b;
	opacity: 1;
}

.footerDistributed :-ms-input-placeholder {
	color: #5c666b;
}

.footerDistributed form input {
	height: 55px;
	margin-bottom: 15px;
}

.footerDistributed form textarea {
	height: 100px;
	margin-bottom: 20px;
}

.footerDistributed form button {
	border-radius: 3px;
	background-color: #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
	cursor: pointer;
	width: 100%;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {
	.footerDistributed {
		font: bold 14px Ubuntu, Inter;
	}
	.footerCompany-name {
		font-size: 12px;
	}
	.footerDistributed form input, .footerDistributed form textarea {
		width: 250px;
	}
	.footerDistributed form button {
		padding: 10px 35px;
	}
}

@media (max-width: 800px) {
	.footerDistributed {
		padding: 30px;
	}
	.footerLeft, .footerRight {
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}
	.footerLeft {
		margin-bottom: 40px;
	}
	.footerDistributed form {
		margin-top: 30px;
	}
	.footerDistributed form {
		display: block;
	}
	.footerDistributed form button {
		float: none;
	}
}

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title a {
	color: #5383d3;
	text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	font-family: Ubuntu, Inter;
}

.title, .description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Ubuntu, Inter, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, borderColor 0.15s ease;
	width: 45%;
}

.card:hover, .card:focus, .card:active {
	color: #5383d3;
	border-color: #5383d3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

/* .logo {
  height: 1em;
  margin-left: 0.5rem;
} */

.logo {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	margin-top: 5rem;
	margin-bottom: 2rem;
	cursor: pointer;
}

.logo:hover {
	background: rgb(64, 65, 67);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* animation-name: rubberBand;
	animation-duration: .8s;
	animation-fill-mode: both; */
}

.buttonToUp {
    font-size: 1.5rem;
    text-align: center;
    transform: rotate(-45deg);
	border: none;
	background: rgb(64, 65, 67);
	color: white;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
	margin-right: 1.5rem;
	margin-top: -1.5rem;
	cursor: pointer;
	float: right;
	display: none;
	position: fixed;
	bottom: -2.5rem;
	right: .05rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 99;
	/* -webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; */
}

.buttonToUp span {
    margin-top: .4rem;
    margin-right: .2rem;
}

/* 
@-webkit-keyframes bounceInUp {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounceInUp {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
} */

.buttonToUp:hover {
	background: rgb(99, 101, 104);
    transform: rotate(-45deg);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* color:  #5383d3; */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0) rotate(-45deg);
	}
	40% {
		-webkit-transform: translateY(-30px) rotate(-45deg);
	}
	60% {
		-webkit-transform: translateY(-15px) rotate(-45deg);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0) rotate(-45deg);
	}
	40% {
		transform: translateY(-30px) rotate(-45deg);
	}
	60% {
		transform: translateY(-15px) rotate(-45deg);
	}
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}