.nav {
	height: 80px;
	padding-right: 3.6%;
	position: fixed;
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);
	border: 2px solid rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	align-items: center;
	padding: .5rem calc((100vw - 1000px) / 2);
	width: 100vw;
	z-index: 10;
	/* margin-bottom: 2rem; */
	max-width: 100%;
	transition: all .1s ease-in-out;
}

/* .nav::after {
	content: '';
	
	margin: 0;
	top: 0;
	left: 0;
	right: 0;

	z-index: 9;
	background: rgba(0, 0, 0, 0.5);

	position: fixed;
	filter: blur(10px);
	
	width: 105vw;
	height: 85px;
} */

.nav a.title {
	color: #fff;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 70%;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	transition: all .1s ease-in-out;
}

.nav a.title h1:hover {
	text-shadow: 0 0 10px white;
	transition: all .1s ease-in-out;
}

.nav a.title div.toogleTheme {
	margin-right: 35%;
	margin-left: -50%;
}

.nav .navMenu ul {
	display: flex;
	font-size: .5rem;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.nav .navMenu ul li a i {
	display: none;
}

.nav div ul li a svg {
	display: none;
	height: 20px;
	width: 20px;
}

.title {
	color: #fff;
	justify-content: center;
	align-items: center;
	text-align: center;
    width: 122px !important;
    margin-left: -5rem !important;
	transition: all .1s ease-in-out;
}

.title h1 span {
	color: #256ce1;
	transition: all .1s ease-in-out;
}

.title h1:hover span {
	color: #15cdfc;
	text-shadow: 0 0 10px #15cdfc;
	transition: all .1s ease-in-out;
}

.exit {
	display: none;
	width: 24px;
	height: 24px;
	margin-bottom: .2%;
}

.bars {
	display: none;
	margin-top: 1%;
	color: #fff;
}

.navMenu {
	display: flex;
	align-items: center;
	margin-right: -24px;
}

.navMenuMobile {
	position: fixed;
	border-radius: 1.5rem 1.5rem 0 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding: 2rem 1.5rem 4rem;
	/* padding-right: 3.6%; */
	transition: all .3s linear;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);
	border: 2px solid rgba(0, 0, 0, 0.1);
	align-items: center;
	z-index: 10;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
	transition: all .1s ease-in-out;
}

.navMenuMobile  a.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.navMenuMobile  a.title h1 {
	margin-top: -1rem;
	margin-bottom: 1rem;
	font-size: 2rem;
}

.navMenuMobile a.title div.toogleTheme {
	display: flex;
	height: 20px;
	justify-content: center;
	align-items: center;
	margin: -2rem 1rem 0 0;
	gap: 2rem;
}

.navMenuMobile a.title div.toogleTheme svg.exit {
	display: block;
	height: 30px;
	width: 30px;
}

.navMenuMobile a.title div.toogleTheme svg.bars {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-100%, 75%);
	font-size: 1.8rem;
	cursor: pointer;
}

.navMenuMobile .navMenu {
	display: block;
}

.navMenuMobile .navMenu ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.navMenuMobile .navMenu ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1rem;
	gap: 5px;
}

.navBtn {
	display: flex;
	align-items: center;
	margin-right: 24px;
	height: 60px;
}

.navBtnLink {
	border-radius: 4px;
	background: #256ce1;
	padding: 10px 22px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all .1s ease-in-out;
	text-decoration: none;
}

.navBtnLink:hover {
	transition: all .1s ease-in-out;
	background: #15cdfc;
	box-shadow: 0 0 10px 5px #15cdfc;
	color: #fff;
}

.toogleTheme {
	display: flex;
	margin-right: -8rem;
	font-size: 1.5rem;
}

.toogleTheme svg {
	transition: all .5s linear;
	height: 20px;
	width: 20px;
	align-items: center;
	justify-content: center;
}

.moonIcon {
	color: white;
}

.moonIcon svg:hover {
	fill: white;
}

.sunIcon {
	color: yellow;
}

.moonIcon, .sunIcon {
	cursor: pointer;
}

a.active {
	color: #256ce1;
	fill:	#256ce1;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

a.active:hover {
	transition: all .1s ease-in-out;
	color: #15cdfc;
	fill:	#15cdfc;
	text-shadow: 0 0 10px #15cdfc;
}


@media screen and (max-width: 768px) {
	.nav {
		bottom: 0;
		left: 0;
	}
	.bars {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 75%);
		font-size: 1.8rem;
		cursor: pointer;
	}
	.navBtn {
		display: flex;
	}
	.nav {
		border-radius: 1.5rem 1.5rem 0 0;
	}
	.navMenu, .navBtn, .toogleTheme {
		display: none;
	}
	.toogleTheme {
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		margin-left: -10%;
		margin-right: 4%;
	}
	.navBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 4%;
		margin-top: 10%;
		margin-bottom: -10%;
	}
	.nav ul li a svg {
		display: block;
	}
	.nav .navMenu ul li a i {
		display: block;
	}
}