.nav {
	height: 80px;
	position: fixed;
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);
	border: 2px solid rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	align-items: center;
	padding: .5rem calc((100vw - 1000px) / 2);
	width: 100vw;
	z-index: 10;
	margin-bottom: 2rem;
	max-width: 100%;
	transition: all .1s ease-in-out;
}

/* .nav::after {
	content: '';
	
	margin: 0;
	top: 0;
	left: 0;
	right: 0;

	z-index: 9;
	background: rgba(0, 0, 0, 0.5);

	position: fixed;
	filter: blur(10px);
	
	width: 105vw;
	height: 85px;
} */

.nav a {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 70%;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	transition: all .1s ease-in-out;
}

.nav a:hover {
	text-shadow: 0 0 10px white;
	transition: all .1s ease-in-out;
}

.title {
	color: #fff;
	margin-left: 2.5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all .1s ease-in-out;
}

.title h1 span {
	color: #256ce1;
	transition: all .1s ease-in-out;
}

.title:hover h1 span {
	color: #15cdfc;
	text-shadow: 0 0 10px #15cdfc;
	transition: all .1s ease-in-out;
}

.bars {
	display: none;
	color: #fff;
}

.navMenu {
	display: flex;
	align-items: center;
	margin-right: -24px;
}

.navBtn {
	display: flex;
	align-items: center;
	margin-right: 24px;
	height: 60px;
}

.navBtnLink {
	border-radius: 4px;
	background: #256ce1;
	padding: 10px 22px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all .1s ease-in-out;
	text-decoration: none;
}

.navBtnLink:hover {
	transition: all .1s ease-in-out;
	background: #15cdfc;
	box-shadow: 0 0 10px 5px #15cdfc;
	color: #fff;
}

.toogleTheme {
	display: flex;
	align-items: center;
	margin-left: -10%;
	margin-right: 4%;
}

.toogleTheme  svg {
	transition: all .5s linear;

	height: 20px;
	width: 20px;
	
	align-items: center;
	justify-content: center;
}

.moonIcon {
	color: white;
}

.moonIcon svg:hover {
	fill: white;
}

.sunIcon {
	color: yellow;
}

.moonIcon,
.sunIcon {
	cursor: pointer;
}

a.active {
	color: #256ce1;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

a.active:hover {
	transition: all .1s ease-in-out;
	color: #15cdfc;
	text-shadow: 0 0 10px #15cdfc;
}

@media screen and (max-width: 768px) {
	.bars {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 75%);
		font-size: 1.8rem;
		cursor: pointer;
	}
	.navBtn {
		display: flex;
	}
	.navMenu, .navBtn, .toogleTheme {
		display: none;
	}
	.bars {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 75%);
		font-size: 1.8rem;
		cursor: pointer;
	}
}